<% include header %>
<div>
<% if (entries.length) { %>
    <% entries.forEach(function(entry) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted pull-right">
                    <%= entry.published %>&nbsp;<a href=<%="/update-entry/"+entry._id%> style="color:inherit;"><span class="pull-right glyphicon glyphicon-edit"></span></a>&nbsp;
                    <a href=<%="/delete-entry/"+entry._id%> style="color:inherit;"><span class="pull-right glyphicon glyphicon-remove"  style="padding-right: 5px;"></span></a> 
                </div>
                <%= entry.title %>
            </div>
            <div class="panel-body">
                <%= entry.entryText %>
            </div>
        </div>
        <% }) %> 
<% } else { %>
    No entries! <a href="/new-entry">Add one!</a>
<% } %>
</div>
<% include footer %>